$h1Size: 36px;
$maxGridWidth: 1360px;
$gridPadd: 20px;

/**SLIDER*/
$maxSliderwidth: 1600px;
$sliderHeightMobile: 150px;
$sliderHeightDesktop: 450px;

$headerHeightMobile: 130px;
$headerHeightDesktop: 100px;

/**BANNER*/
$maxBannerWidth: $maxGridWidth;
$bannerHeightMobile: 350px;
$bannerHeightDesktop: 550px;

$headerHeightMobile: 130px;
$headerHeightDesktop: 100px;

/**aside*/
$maxWidthAside: 100%;

/**Card */
$minHeightCard: 540px;
$minHeightCardPlan: 590px;
$widthPoster: 300px;
$heightPoster: 450px;
$heigthHeaderPoster: 70px;
$heigthCardBody: 210px;
$positionBottomCardBody: 55px;

/**LOGIN*/
$min-heightNavLoginRegister: 520px;

/**themes colors */
$primaryColor: #454343;
$secondColor: #803636;
$thirtyColor: #d6e738;
$lightColor: #799bbb;
$mediumColor: #eb9292;

/**texts colors*/
$textColorDefault: #323232;
$textColorLightDefault: #ede1ea;
$textColorDark: #101010;
$linkColorDefault: rgb(248, 157, 157);

/**links colors*/
$linkLight: #d2e96c;

/**background*/
$backLight: #b95b5b;
$backDetailsSections: #e45050;
