$h1Size: 36px;
$maxWidth: 1360px;

/**HEADER */
$heigthNoMobileHeader: 70px;
$heigthFooter: 40px;

/**themes colors */
$primaryColor: #524e4e;
$secondColor: #803636;
$thirtyColor: #d6e738;
$lightColor: #799bbb;
$mediumColor: #eb9292;

/**MODAL*/
$backModal: #8a9194;

/**texts colors*/
$textColorDefault: #323232;

/**links colors*/
$linkLight: #d2e96c;
