&.il-default,
&.il-about,
&.il-plans,
&.il-contact {
  position: relative;
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
  }
}

&.il-default {
  background-image: url('../assets/default.png');
}
&.il-about {
  background-image: url('../assets/about.png');
}
&.il-plans {
  background-image: url('../assets/plans.png');
}
&.il-contact {
  background-image: url('../assets/contact.png');
  max-width: 100%;
  //background-size: contain;
}
