.il-background {
  width: 100%;
  max-width: 500px;
  height: 230px;
  margin: auto;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  &.il-default {
    background-image: url(../assets/default.png);
  }
  &.il-about {
    background-image: url(../assets/about.png);
  }
  &.il-plans {
    background-image: url(../assets/plans.png);
  }
  &.il-contact {
    background-image: url(../assets/contact.png);
  }
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    background-image: url(../assets/leafes.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
