.il-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .il-big--img {
    position: relative;
    width: 100%;
    max-width: $maxBannerWidth;
    height: $bannerHeightMobile;
    @media (min-width: 680px) {
      height: $bannerHeightDesktop;
    }
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .il-banner--header,
  .il-banner--description {
    width: 100%;
    max-width: $maxBannerWidth;
    text-align: center;
  }
  .il-banner--header {
    padding: 0 0.5rem;
    @media (min-width: 680px) {
      padding: 0.5rem;
    }
  }
  .il-banner--description {
    height: 1rem;
    @media (min-width: 680px) {
      height: 1.3rem;
    }
    span {
      display: block;
      width: 100%;
    }
  }
}
