.il-card--plans {
  //margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 175px));
    grid-gap: 0 0.25rem;
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 180px));
    grid-gap: 0.3rem;
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-gap: 0.35rem;
  }
  .il-card--item {
    margin: 10px auto;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background: #342458;
    position: relative;
    height: 180px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    @media (min-width: 600px) {
      margin: 0;
      padding: 10px;
      max-width: 170px;
    }
    span {
      display: block;
      text-align: center;
    }
    .il-card--title {
      color: yellow;
      text-transform: uppercase;
    }
    .il-card--price {
      font-size: 1.05rem;
      @media (min-width: 500px) {
        font-size: 1.15rem;
      }
      @media (min-width: 768px) {
        font-size: 1.3rem;
      }
      @media (min-width: 1024px) {
        font-size: 1.4rem;
      }
    }
  }
}
