.il-checkout--result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  @media (min-width: 800px) {
    flex-direction: row;
    height: 100%;
  }
  .il-result--data {
    color: $primaryColor;
    padding: 0 8px;
    height: 100%;
    @media (min-width: 800px) {
      flex: 1;
      background: rgb(235, 231, 231);
    }
    @media (min-width: 1024px) {
      padding: 0 12px;
      margin: 0 0.3rem;
      box-shadow: 2px 3px 10px rgba(180, 180, 180, 0.6);
      flex: 1;
    }

    &:last-child {
      background: white;
      color: $primaryColor;
      display: flex;
      flex-direction: column;
      width: 100%;
      background: rgb(235, 231, 231);
      @media (min-width: 800px) {
        flex: 2 1;
        background: white;

        height: 100%;
      }
    }
    .il-data--inner {
      span {
        display: block;
      }
      h4 {
        text-align: center;
        font-size: 0.96rem;
        margin: 0.45rem 0;
        @media (min-width: 800px) {
          font-size: 1.04rem;
          width: inherit;
          text-transform: uppercase;
        }
      }
      ul {
        display: flex;

        align-items: center;
        @media (min-width: 1024px) {
          height: 2rem;
        }
        li {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 0.79rem;
          @media (min-width: 1024px) {
            font-size: 1.1rem;
          }
        }
        &.il-result--billet {
          flex-direction: column;
          @media (min-width: 1024px) {
            height: auto;
          }
          li {
            font-size: 0.79rem;
            padding: 0.35rem 0;
          }
        }
      }
      p.il-description--text {
        //font-size: 0.8rem;
        padding: 0 0.35rem;
      }
    }
  }
}
