/* contents */
.il-content {
  color: white;
  .il-content--text {
    padding: 0.8rem;
  }

  .il-video--content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border: 3px solid #555252;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .il-buttons {
    max-width: 500px;
    margin: 15px auto;
    padding: 10px 0;
  }
}
