.il-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .il-content--text {
    padding: 0 10px;
    width: 100%;
    @media (min-width: 500px) {
      padding: 0 20px;
    }
    @media (min-width: 768px) {
      padding: 0 40px;
    }
  }
  &.il-agreement .il-content--text,
  &.il-video .il-content--text {
    padding: 0 10px;
    @media (min-width: 500px) {
      padding: 15px 0;
    }
    @media (min-width: 768px) {
      padding: 20px 0;
    }
  }
  &.il-content--plans {
    height: 100%;
  }
  &.il-agreement .il-plan--intro {
    display: block;
    @media (min-width: 1024px) {
      display: flex;
      justify-content: flex-start;
      form.il-form {
        flex: 2 1;
      }
    }
    .il-plan--description {
      background: white;
      color: $primaryColor;
      box-shadow: 2px 3px 10px rgba(180, 180, 180, 0.6);
      padding: 0 12px;
      @media (min-width: 1024px) {
        margin: 0 0.3rem;
        flex: 1;
      }
      ul {
        display: block;
        li {
          display: block;
          width: 100%;
          text-align: left;
        }
      }
      span.il-description--price {
        font-size: 1.4rem;
        text-align: center;
        display: block;
        background: $primaryColor;
        color: white;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      p.il-description--text {
        font-size: 0.8rem;
      }
    }
  }
  &.il-video {
    top: 0;
    width: 100%;
    .il-video--content {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      border: 3px solid #454343;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
    }
    .il-buttons {
      max-width: 500px;
      margin: 15px auto;
      padding: 10px 0;
    }
  }
}
