.il-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 0.5fr));
  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(48%, 0.5fr));
  }
  @media (min-width: 1270px) {
    grid-template-columns: repeat(auto-fit, minmax(30%, 0.33fr));
  }
  grid-gap: 1rem;
  justify-content: center;
  .il-panel--card {
    position: relative;
    box-shadow: 0 10px 50px rgba(14, 13, 13, 0.19),
      0 6px 50px rgba(34, 34, 34, 0.23);
    border-radius: 7px;
    transition: 450ms ease-in-out;
    background: $lightColor;
    .il-panel--img {
      position: relative;
      height: 60px;
      border-radius: 4px 4px 0 0;
      background: $thirtyColor;
      .il-icon--img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        position: relative;
        top: 5px;
        & img {
          width: 100%;
          color: white;
        }
      }
    }
  }
  .il-panel--content {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    h1.il-panel--title {
      font-weight: 400;
      text-align: center;
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: rgb(100, 18, 73);
      letter-spacing: 3px;
    }
    p.il-panel--description {
      padding: 0 10px;
      font-weight: 300;
      text-align: justify;
      margin: 0 auto;
      line-height: 1.3rem;
      color: #332341;
    }
    .il-panel--buttom {
      text-align: center;
      padding: 0.4rem 0;
    }
  }
}
