.il-stars {
  position: relative;
  margin: auto;
  height: 3rem;
  z-index: 1;
  width: 40%;
  &--main,
  &--inner {
    display: flex;
    justify-content: space-around;
    span {
      display: inline-block;
      width: 30px;
      &.il-actives,
      &.il-inactives {
        color: yellow;
        font-weight: 800;
        margin: 0 0.2rem;
      }
      &.il-inactives {
        opacity: 0.5;
        position: relative;
        /*&:after {
        content: '';
        position: absolute;
        height: 24px;
        width: 24px;
        padding: 1px;
        top: 0;
        left: 2px;
        //opacity: 0.3;
        background: red;
      }*/
      }
    }
  }
  &--inner {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}
