/**HEADER */
/**themes colors */
/**MODAL*/
/**texts colors*/
/**links colors*/
/**alerts */
/**loading*/
/* footer */
@import url("https://fonts.googleapis.com/css?family=Abel|Rubik|Montserrat&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1px;
  color: #323232;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abel', sans-serif;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 32.4px;
}

h3 {
  font-size: 28.8px;
}

h4 {
  font-size: 25.2px;
}

h5 {
  font-size: 21.6px;
}

h6 {
  font-size: 18px;
}

.il-right {
  text-align: right;
}

.il-center {
  text-align: center;
}

.il-big--title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .il-big--title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .il-big--title {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .il-big--title {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 1360px) {
  .il-big--title {
    font-size: 3rem;
  }
}

.il-subtitle {
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  .il-subtitle {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  .il-subtitle {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .il-subtitle {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1360px) {
  .il-subtitle {
    font-size: 2.2rem;
  }
}

p.il-description {
  font-family: 'Rubik', sans-serif;
  font-size: 0.85rem;
}

@media screen and (min-width: 500px) {
  p.il-description {
    font-size: 0.87rem;
  }
}

@media screen and (min-width: 768px) {
  p.il-description {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  p.il-description {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1360px) {
  p.il-description {
    font-size: 1.1rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  list-style: none;
}

ul li {
  padding: 0;
  text-align: center;
}

a {
  color: #f1f3e6;
  text-decoration: none;
}

main {
  height: 100%;
  margin: auto;
}

.il-app {
  width: 100%;
  min-height: 100vh;
  background: #524e4e;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 50px;
      grid-template-rows: 1fr 50px;
}

.il-app .il-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.il-app .il-container .il-container--wrapper {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .il-app .il-container .il-container--wrapper {
    width: 98%;
  }
}

@media screen and (min-width: 680px) {
  .il-app .il-container .il-container--wrapper {
    width: 96%;
  }
}

@media screen and (min-width: 800px) {
  .il-app .il-container .il-container--wrapper {
    width: 94%;
  }
}

@media screen and (min-width: 1024px) {
  .il-app .il-container .il-container--wrapper {
    width: 92%;
  }
}

@media screen and (min-width: 1200px) {
  .il-app .il-container .il-container--wrapper {
    width: 90%;
  }
}

@media screen and (min-width: 1360px) {
  .il-app .il-container .il-container--wrapper {
    width: 85%;
  }
}

section.il-section {
  padding: 1rem 0;
  position: relative;
}

section.il-section.il-section--error {
  position: absolute;
  z-index: -1;
}

.il-main {
  height: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
}

@media (min-width: 1024px) {
  .il-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.il-main .il-background {
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: 225px;
  max-width: 480;
  max-height: 270px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
  margin: auto;
}

@media (min-width: 768px) {
  .il-main .il-background {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .il-main .il-background {
    -webkit-transition: all 450ms ease-in;
    transition: all 450ms ease-in;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    max-width: 480px;
    background-size: cover;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .il-main .il-background {
    -webkit-transition: all 450ms ease-in;
    transition: all 450ms ease-in;
    max-height: 400px;
    background-size: cover;
    position: relative;
  }
}

.il-main .il-background.il-default, .il-main .il-background.il-about, .il-main .il-background.il-plans, .il-main .il-background.il-contact {
  position: relative;
}

.il-main .il-background.il-default:after, .il-main .il-background.il-about:after, .il-main .il-background.il-plans:after, .il-main .il-background.il-contact:after {
  content: '';
  width: 100%;
  position: absolute;
  height: 100%;
}

.il-main .il-background.il-default {
  background-image: url("../assets/default.png");
}

.il-main .il-background.il-about {
  background-image: url("../assets/about.png");
}

.il-main .il-background.il-plans {
  background-image: url("../assets/plans.png");
}

.il-main .il-background.il-contact {
  background-image: url("../assets/contact.png");
  max-width: 100%;
}

.il-main .il-no-background {
  visibility: hidden;
}

.il-main .il-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .il-main .il-content {
    -webkit-box-flex: 2;
        -ms-flex: 2 1;
            flex: 2 1;
  }
  .il-main .il-content.il-content--contact {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
}

@media (min-width: 1200px) {
  .il-main .il-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
}

.il-alert {
  width: 100%;
  padding: 0;
  border: 1px solid #434343;
  border-radius: 4px;
  text-align: center;
  position: absolute;
  opacity: 0.9;
  visibility: hidden;
  top: 0;
}

.il-alert.move {
  top: 20vh;
  visibility: visible;
  -webkit-animation: move 4000ms ease-in;
          animation: move 4000ms ease-in;
}

.il-alert p {
  margin: 0;
  line-height: 2rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.il-alert ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.il-alert ul li {
  text-align: left;
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;
}

@media (min-width: 1024px) {
  .il-alert ul li {
    padding: 0.3rem 0.5rem;
    font-size: 0.95rem;
  }
}

.il-alert--info {
  background: #0c54a7;
}

.il-alert--info p {
  color: #0a123f;
}

.il-alert--success {
  background: #0ca73a;
}

.il-alert--success p {
  color: #bce01a;
}

.il-alert--warning {
  background: #d1530a;
}

.il-alert--warning p {
  color: #e5f1b3;
}

.il-alert--danger {
  background: #c92c17;
}

.il-alert--danger p {
  color: #dcee8f;
}

@-webkit-keyframes move {
  0% {
    opacity: 0.7;
  }
  12.5% {
    opacity: 0.9;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    visibility: hidden;
  }
}

@keyframes move {
  0% {
    opacity: 0.7;
  }
  12.5% {
    opacity: 0.9;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    visibility: hidden;
  }
}

.il-color--text__green {
  color: #97eb2a;
}

.il-color--text__dark {
  color: #524e4e;
  font-weight: 700;
}

.il-color--text__light {
  color: #fefefe;
}

.il-app--gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#a8caba), to(#5d4157));
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
}

.il-app--gradient__metal {
  background-image: -webkit-gradient(linear, left top, right top, from(#243949), to(#517fa4));
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.il-app--gradient__esmerald {
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.il-app--gradient_wood {
  background-image: -webkit-gradient(linear, left top, right top, from(#d7d2cc), to(#304352));
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

/* contents */
.il-content {
  color: white;
}

.il-content .il-content--text {
  padding: 0.8rem;
}

.il-content .il-video--content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border: 3px solid #555252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.il-content .il-buttons {
  max-width: 500px;
  margin: 15px auto;
  padding: 10px 0;
}

.il-load {
  position: absolute;
  visibility: hidden;
  height: 3.5rem;
  padding: 0.25rem 0;
  text-align: center;
}

.il-load.il-show {
  background: #5443eb;
  top: 50%;
  width: 100%;
  max-width: 1360px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  visibility: visible;
}

.il-load .il-load--wrapper {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 100%;
}

.il-load .il-load--wrapper p {
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 0;
  color: #d6e738;
}

.il-load .il-load--wrapper .il-load--animate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.il-load .il-load--wrapper .il-load--animate .il-load--line {
  margin: auto;
  display: block;
  height: 10px;
  width: 30px;
  border-radius: 10px;
  background: #ccda90;
}

.il-load .il-load--wrapper .il-load--animate .il-load--line:nth-last-child(1) {
  -webkit-animation: loading 1.8s 1s infinite;
          animation: loading 1.8s 1s infinite;
}

.il-load .il-load--wrapper .il-load--animate .il-load--line:nth-last-child(2) {
  -webkit-animation: loading 1.8s 0.6s infinite;
          animation: loading 1.8s 0.6s infinite;
}

.il-load .il-load--wrapper .il-load--animate .il-load--line:nth-last-child(3) {
  -webkit-animation: loading 1.8s 0s infinite;
          animation: loading 1.8s 0s infinite;
}

@-webkit-keyframes loading {
  0% {
    width: 15px;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 15px;
  }
}

@keyframes loading {
  0% {
    width: 15px;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 15px;
  }
}

a.il-btn,
button.il-btn {
  display: inline-block;
  width: 310px;
  text-align: center;
  height: 50px;
  margin: 35px auto;
  padding: 3px 4px;
}

a.il-btn.il-btn--plan, a.il-btn.il-btn--video, a.il-btn.il-btn--card, a.il-btn.il-btn--submit,
button.il-btn.il-btn--plan,
button.il-btn.il-btn--video,
button.il-btn.il-btn--card,
button.il-btn.il-btn--submit {
  background: #983433;
  color: white;
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
  border: none;
  border-radius: 50px;
  line-height: 44px;
}

a.il-btn.il-btn--plan:hover, a.il-btn.il-btn--video:hover, a.il-btn.il-btn--card:hover, a.il-btn.il-btn--submit:hover,
button.il-btn.il-btn--plan:hover,
button.il-btn.il-btn--video:hover,
button.il-btn.il-btn--card:hover,
button.il-btn.il-btn--submit:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

a.il-btn.il-btn--submit,
button.il-btn.il-btn--submit {
  text-transform: uppercase;
}

a.il-btn.il-btn--plan,
button.il-btn.il-btn--plan {
  -webkit-box-shadow: -2px 7px 15px rgba(110, 99, 99, 0.7);
          box-shadow: -2px 7px 15px rgba(110, 99, 99, 0.7);
}

a.il-btn.il-btn--video,
button.il-btn.il-btn--video {
  background: transparent;
  border: 2px solid white;
  height: 48px;
  text-transform: uppercase;
}

a.il-btn.il-btn--video:hover,
button.il-btn.il-btn--video:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

a.il-btn.il-btn--card,
button.il-btn.il-btn--card {
  margin: auto;
  padding: 0;
  width: 150px;
  text-transform: uppercase;
  color: #f1f3e6;
  height: 100%;
  background: #85b448;
  -webkit-transition: all 650ms ease-out;
  transition: all 650ms ease-out;
}

@media (min-width: 600px) {
  a.il-btn.il-btn--card,
  button.il-btn.il-btn--card {
    width: 155px;
  }
}

a.il-btn.il-btn--card:hover,
button.il-btn.il-btn--card:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background: #456120;
  color: #d2e96c;
}

a.il-btn.il-btn--card svg,
button.il-btn.il-btn--card svg {
  margin-right: 0.25rem;
}

.il-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
}

.il-buttons a {
  width: 100%;
}

@media screen and (min-width: 680px) {
  .il-buttons a {
    max-width: 43%;
  }
}

.il-buttons button {
  cursor: pointer;
}

.il-buttons svg {
  margin-right: 0.35rem;
}

.il-card--buttons {
  text-align: center;
}

.il-card--plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (min-width: 600px) {
  .il-card--plans {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(90px, 175px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(90px, 175px));
    grid-gap: 0 0.25rem;
  }
}

@media (min-width: 768px) {
  .il-card--plans {
    -ms-grid-columns: (minmax(100px, 180px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 180px));
    grid-gap: 0.3rem;
  }
}

@media (min-width: 1024px) {
  .il-card--plans {
    -ms-grid-columns: (minmax(110px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    grid-gap: 0.35rem;
  }
}

.il-card--plans .il-card--item {
  margin: 10px auto;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background: #342458;
  position: relative;
  height: 180px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

@media (min-width: 600px) {
  .il-card--plans .il-card--item {
    margin: 0;
    padding: 10px;
    max-width: 170px;
  }
}

.il-card--plans .il-card--item span {
  display: block;
  text-align: center;
}

.il-card--plans .il-card--item .il-card--title {
  color: yellow;
  text-transform: uppercase;
}

.il-card--plans .il-card--item .il-card--price {
  font-size: 1.05rem;
}

@media (min-width: 500px) {
  .il-card--plans .il-card--item .il-card--price {
    font-size: 1.15rem;
  }
}

@media (min-width: 768px) {
  .il-card--plans .il-card--item .il-card--price {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .il-card--plans .il-card--item .il-card--price {
    font-size: 1.4rem;
  }
}

.il-checkout--result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

@media (min-width: 800px) {
  .il-checkout--result {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
  }
}

.il-checkout--result .il-result--data {
  color: #524e4e;
  padding: 0 8px;
  height: 100%;
}

@media (min-width: 800px) {
  .il-checkout--result .il-result--data {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: #ebe7e7;
  }
}

@media (min-width: 1024px) {
  .il-checkout--result .il-result--data {
    padding: 0 12px;
    margin: 0 0.3rem;
    -webkit-box-shadow: 2px 3px 10px rgba(180, 180, 180, 0.6);
            box-shadow: 2px 3px 10px rgba(180, 180, 180, 0.6);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.il-checkout--result .il-result--data:last-child {
  background: white;
  color: #524e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #ebe7e7;
}

@media (min-width: 800px) {
  .il-checkout--result .il-result--data:last-child {
    -webkit-box-flex: 2;
        -ms-flex: 2 1;
            flex: 2 1;
    background: white;
    height: 100%;
  }
}

.il-checkout--result .il-result--data .il-data--inner span {
  display: block;
}

.il-checkout--result .il-result--data .il-data--inner h4 {
  text-align: center;
  font-size: 0.96rem;
  margin: 0.45rem 0;
}

@media (min-width: 800px) {
  .il-checkout--result .il-result--data .il-data--inner h4 {
    font-size: 1.04rem;
    width: inherit;
    text-transform: uppercase;
  }
}

.il-checkout--result .il-result--data .il-data--inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .il-checkout--result .il-result--data .il-data--inner ul {
    height: 2rem;
  }
}

.il-checkout--result .il-result--data .il-data--inner ul li {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.79rem;
}

@media (min-width: 1024px) {
  .il-checkout--result .il-result--data .il-data--inner ul li {
    font-size: 1.1rem;
  }
}

.il-checkout--result .il-result--data .il-data--inner ul.il-result--billet {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .il-checkout--result .il-result--data .il-data--inner ul.il-result--billet {
    height: auto;
  }
}

.il-checkout--result .il-result--data .il-data--inner ul.il-result--billet li {
  font-size: 0.79rem;
  padding: 0.35rem 0;
}

.il-checkout--result .il-result--data .il-data--inner p.il-description--text {
  padding: 0 0.35rem;
}

/**FORM */
form.il-form {
  width: 100%;
  margin: auto;
}

form.il-form input[type='text'],
form.il-form input[type='email'],
form.il-form input[type='phone'],
form.il-form input[type='tel'],
form.il-form input[type='date'],
form.il-form select,
form.il-form textarea {
  width: 100%;
  height: 36px;
  display: block;
  margin: 0 auto 1rem auto;
  font-family: inherit;
  font-size: 14px;
  padding: 0.35rem 0.45rem;
  border: 1px solid #64676d;
  border-radius: 3px;
}

form.il-form input[type='text'].-internal-autofill-selected {
  background-color: #dadce0 !important;
}

form.il-form textarea {
  height: auto;
}

form.il-form .il-form--field {
  padding: 0.25rem;
  margin: auto;
}

form.il-form .il-form--field.il-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form.il-form .il-form--field.il-flex > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.15rem;
}

footer.il-footer {
  width: 100%;
  height: 100%;
}

footer.il-footer .il-footer--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1360px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  footer.il-footer .il-footer--content {
    width: 98%;
  }
}

@media screen and (min-width: 680px) {
  footer.il-footer .il-footer--content {
    width: 96%;
  }
}

@media screen and (min-width: 800px) {
  footer.il-footer .il-footer--content {
    width: 94%;
  }
}

@media screen and (min-width: 1024px) {
  footer.il-footer .il-footer--content {
    width: 92%;
  }
}

@media screen and (min-width: 1200px) {
  footer.il-footer .il-footer--content {
    width: 90%;
  }
}

@media screen and (min-width: 1360px) {
  footer.il-footer .il-footer--content {
    width: 85%;
  }
}

footer.il-footer .il-footer--content .il-shares {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer.il-footer .il-footer--content .il-shares span {
  padding: 0 0.4rem;
  display: block;
  line-height: 23px;
}

footer.il-footer .il-footer--content .il-shares img {
  width: 23px;
}

/**HEADER*/
header.il-header {
  height: auto;
}

@media screen and (min-width: 680px) {
  header.il-header {
    height: 100%;
  }
}

header.il-header nav {
  width: 100%;
  height: 100%;
  display: block;
  padding: 5px 0;
}

@media screen and (min-width: 680px) {
  header.il-header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header.il-header nav .il-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 680px) {
  header.il-header nav .il-brand {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

header.il-header nav .il-brand img {
  width: 100%;
  max-width: 38px;
  max-height: 61px;
}

header.il-header nav .il-brand h1.il-brand--title {
  color: #e0a118;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  height: 70px;
  line-height: 70px;
}

@media screen and (min-width: 680px) {
  header.il-header nav .il-brand h1.il-brand--title {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 800px) {
  header.il-header nav .il-brand h1.il-brand--title {
    font-size: 1rem;
  }
}

header.il-header nav .il-menu {
  width: 100%;
  padding: 0 0.4rem;
}

@media screen and (min-width: 680px) {
  header.il-header nav .il-menu {
    padding: 0 0.25rem;
    -webkit-box-flex: 2;
        -ms-flex: 2 3;
            flex: 2 3;
  }
}

header.il-header nav .il-menu li {
  line-height: 70px;
}

header.il-header nav .il-menu li a.il-link {
  font-size: 0.85rem;
}

@media screen and (min-width: 768px) {
  header.il-header nav .il-menu li a.il-link {
    font-size: 0.92rem;
    text-transform: uppercase;
  }
}

header.il-header nav .il-menu li a.il-link:hover {
  color: #799bbb;
  font-weight: 700;
}

header.il-header nav .il-menu li a.il-link svg {
  margin-right: 0.2rem;
}

.il-register {
  position: relative;
  height: 100%;
}

.il-register .il-register--contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
  min-height: 600px;
}

@media (min-width: 768px) {
  .il-register .il-register--contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.il-register .il-register--contents .il-plan--description {
  background: #978080;
  color: #524e4e;
  padding: 0 8px;
}

.il-register .il-register--contents .il-plan--description .il-plan--header {
  padding: 0.4rem;
}

.il-register .il-register--contents .il-plan--description .il-plan--header h4 {
  color: #1b1111;
  text-align: center;
}

.il-register .il-register--contents .il-plan--description h3 {
  text-align: center;
  margin: 0.45rem 0;
  text-transform: uppercase;
  color: green;
}

@media (min-width: 768px) {
  .il-register .il-register--contents .il-plan--description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    background: #ebe7e7;
  }
}

@media (min-width: 1024px) {
  .il-register .il-register--contents .il-plan--description {
    padding: 0 12px;
    margin: 0 0.3rem;
    -webkit-box-shadow: 2px 3px 10px rgba(180, 180, 180, 0.6);
            box-shadow: 2px 3px 10px rgba(180, 180, 180, 0.6);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.il-register .il-register--contents .il-plan--description span.il-description--price {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: center;
  display: block;
  background: #524e4e;
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;
}

.il-register .il-register--contents .il-plan--description p.il-description--text {
  font-size: 0.8rem;
  padding: 0 0.35rem;
}

.il-register .il-register--contents .il-plan--pay {
  background: white;
  color: #524e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

@media (min-width: 768px) {
  .il-register .il-register--contents .il-plan--pay {
    -webkit-box-flex: 2;
        -ms-flex: 2 1;
            flex: 2 1;
  }
}

.il-register .il-register--contents .il-plan--pay .il-pay--register {
  padding: 0.4rem;
  background: #89a0af;
}

.il-register .il-register--contents .il-plan--pay .il-pay--register h4 {
  color: #212230;
  text-align: center;
}

@media (min-width: 768px) {
  .il-register .il-register--contents .il-plan--pay .il-pay--register {
    margin-top: 0;
  }
}

.il-register .il-register--contents .il-plan--pay .il-pay--register .il-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.il-register .il-register--contents .il-plan--pay .il-pay--register .il-choice > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 0;
  text-align: center;
}

.il-register .il-register--contents .il-plan--pay .il-pay--register .il-choice > div label {
  margin-right: 0.5rem;
  color: #2c1c1c;
}

.il-register .il-register--contents .il-plan--pay .il-pay--register .il-choice > div label svg {
  margin-right: 0.3rem;
}

.il-register .il-register--contents .il-plan--pay .il-pay--register .il-choice > div input[type='radio'] {
  height: 16px;
  width: 16px;
}

.il-register .il-register--contents .il-plan--pay .il-customer {
  display: none;
}

.il-register .il-register--contents .il-plan--pay .il-customer.il-show {
  display: block;
}

.il-register .il-register--contents .il-plan--pay .il-customer .il-customer--register {
  background: white;
}

.il-register .il-register--contents .il-plan--pay .il-customer .il-customer--register .il-customer--register__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

@media (min-width: 540px) {
  .il-register .il-register--contents .il-plan--pay .il-customer .il-customer--register .il-customer--register__name {
    -webkit-box-flex: 2;
        -ms-flex: 2 1;
            flex: 2 1;
  }
}

@media (min-width: 800px) {
  .il-register .il-register--contents .il-plan--pay .il-customer .il-customer--register .il-customer--register__name {
    -webkit-box-flex: 3;
        -ms-flex: 3 1;
            flex: 3 1;
  }
}

.il-register .il-register--contents .il-plan--pay .il-customer .il-customer--register .il-customer--register__repeats {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.il-register .il-register--contents .il-plan--pay .il-credit-card {
  display: none;
}

.il-register .il-register--contents .il-plan--pay .il-credit-card.il-show {
  position: absolute;
  top: -20vh;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
}

.il-register .il-register--contents .il-plan--pay .il-credit-card .il-credit-card--container {
  position: relative;
  width: 100%;
  left: 0;
}

.il-register .il-register--contents .il-plan--pay .il-credit-card .il-credit-card--container .il-close--modal {
  position: relative;
  top: 26%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1.8rem;
  height: 1.8rem;
  background: #303131;
  font-size: 1.5rem;
  color: #7d8486;
  line-height: 1.8rem;
  text-align: center;
  border-radius: 50%;
}

.il-register .il-register--contents .il-plan--pay .il-credit-card .il-credit-card--container .il-close--modal svg {
  width: 1.5rem;
  height: 1.5rem;
}

.il-register .il-register--contents .il-plan--pay .il-credit-card .il-credit-card--container .il-close--modal:hover {
  font-size: 1.8rem;
}

.il-register .il-register--contents .il-plan--pay .il-credit-card .il-credit-card--container .il-close--modal:hover svg {
  width: 1.8rem;
  height: 1.8rem;
}

.il-register .il-register--contents .il-plan--pay .il-credit-card .il-credit-card--container .il-credit-card--body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  border-radius: 12px;
  background: #615e5e;
  -webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.8);
}

@media (min-width: 600px) {
  .il-register .il-register--contents .il-plan--pay .il-credit-card .il-credit-card--container .il-credit-card--body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.il-register .il-register--contents .il-plan--pay .il-credit-card .il-credit-card--container .il-credit-card--body .il-card--simulation {
  padding: 0.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
}

.il-register .il-register--contents .il-plan--pay .il-credit-card .il-credit-card--container .il-credit-card--body .il-card--form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.4rem 12px;
}

@media (min-width: 800px) {
  .il-register .il-register--contents .il-plan--pay .il-credit-card .il-credit-card--container .il-credit-card--body .il-card--form {
    -webkit-box-flex: 2;
        -ms-flex: 2 1;
            flex: 2 1;
  }
}
/*# sourceMappingURL=styles.css.map */