.il-app {
  width: 100%;
  min-height: 100vh;
  background: $primaryColor;
  display: grid;
  grid-template-rows: 1fr $heigth-footer;

  .il-container {
    display: grid;
    grid-template-rows: auto 1fr;
    .il-container--wrapper {
      width: 100%;
      margin: 0 auto;
      @media screen and (min-width: 480px) {
        width: 98%;
      }
      @media screen and (min-width: 680px) {
        width: 96%;
      }
      @media screen and (min-width: 800px) {
        width: 94%;
      }
      @media screen and (min-width: 1024px) {
        width: 92%;
      }
      @media screen and (min-width: 1200px) {
        width: 90%;
      }
      @media screen and (min-width: 1360px) {
        width: 85%;
      }
    }
  }
}
