.il-app {
  width: 100%;
  min-height: 100vh;
  background: $primaryColor;
  display: grid;
  grid-template-rows: 1fr 40px;
  overflow: hidden;
  .il-container {
    width: 100%;
    max-width: $maxWidth;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .il-container--wrapper {
      width: 100%;
      margin: 0 auto;
      @media screen and (min-width: 480px) {
        width: 98%;
      }
      @media screen and (min-width: 680px) {
        width: 96%;
      }
      @media screen and (min-width: 800px) {
        width: 94%;
      }
      @media screen and (min-width: 1024px) {
        width: 92%;
      }
      @media screen and (min-width: 1200px) {
        width: 90%;
      }
      @media screen and (min-width: 1360px) {
        width: 85%;
      }
    }
  }
}
