main {
  height: 100%;
  margin-bottom: 1.5rem;
  .il-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 100%;
    @media (min-width: 1024px) {
      flex-direction: row-reverse;
    }
    .il-no-background {
      visibility: hidden;
    }
    section.il-section {
      position: absolute;
      visibility: hidden;
    }
  }
}
