/**MAIN*/
main {
  position: relative;
  padding-bottom: 1.5rem;
  min-height: calc(100vh - 91px);
  /** 
  height: calc(100vh - 91px);
  @media (min-width: 680px) {
    height: calc(100vh - 61px);
  }*/
  @import '../themes/background';
  .il-no-background {
    visibility: hidden;
    position: absolute;
    left: -200%;
  }
  @import '../modules/contents';
}
