.il-detail--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  header.il-header--detail {
    padding: 1rem 0;
    background: transparent;
  }
  .il-detail--stars {
    width: 100%;
    height: 4rem;
    text-align: center;
    span {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
  .il-detail--header {
    margin-bottom: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-content: center;
    .il-header--info {
      padding: 1rem 0 0 1rem;
      ul {
        margin-bottom: 1rem;
        border-bottom: 1px solid $lightColor;
        li {
          font-size: 0.75rem;
          text-align: left;
          padding-bottom: 0.4rem;
          span {
            font-weight: 700;
          }
        }
      }
    }
  }
  .il-detail--body {
    margin-top: 1rem;
    width: 100%;
    .il-body--overview {
      display: flex;
      flex-direction: column;
      .il-detail--sinopse,
      .il-detail--genre,
      .il-detail--company,
      .il-detail--external__sites,
      .il-detail--external__ids {
        padding: 0.35rem 0;
        margin-top: 0.5rem;
        @include sectionDetail;
        border-radius: 5px;
        h5 {
          margin-bottom: 1.4rem;
          text-transform: uppercase;
          font-size: 0.9rem;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 30px;
            height: 2px;
            padding: 1px 0;
            width: 100%;
            background: rgb(212, 128, 128);
          }
        }
        p {
          padding: 0.35rem;
        }
      }
      ul.il-genres {
        height: 2.5rem;
        li span {
          line-height: 2rem;
          text-align: center;
        }
      }
      ul.il-company li {
        display: flex;
        flex-direction: column;
      }
      .il-detail--external__sites div {
        display: flex;
        justify-content: center;
        span {
          color: $textColorLightDefault;
          &:first-child {
            font-weight: 800;
            margin-right: 0.4rem;
          }
          a {
            color: $linkLight;
          }
        }
      }
      .il-detail--external__ids a {
        font-weight: 700;
      }
    }
  }
  ul.il-genres li,
  ul.il-company li,
  ul.il-externals li,
  ul.il-casts li,
  ul.il-videos li {
    flex: 1;
    span {
      display: block;
      color: white;
      font-size: 0.75rem;
    }
  }
  ul.il-videos {
    display: flex;
    flex-direction: column;
  }
  ul.il-company li {
    min-height: 140px;
    img {
      display: block;
      width: 100%;
      max-width: 90px;
      margin: auto;
    }
    span {
      margin-top: 0.4rem;
    }
  }
}
