.il-plan--description {
  background: white;
  color: $primaryColor;
  box-shadow: 2px 3px 10px rgba(180, 180, 180, 0.6);
  padding: 0 12px;
  @media (min-width: 1024px) {
    margin: 0 0.3rem;
    flex: 1;
  }
  h4 {
    text-align: center;
  }
  ul {
    display: flex;
    align-items: center;
    height: 2rem;
    li {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 1.1rem;
    }
  }
  span.il-description--price {
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: center;
    display: block;
    background: $primaryColor;
    color: white;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p.il-description--text {
    font-size: 0.8rem;
  }
}
.il-register--pay {
  margin-top: 2rem;
  .il-pay--choice {
    background: rgb(151, 116, 116);
    display: flex;
    & > div {
      flex: 1;
      padding: 1rem 0;
      text-align: center;

      label {
        margin-right: 0.5rem;
        //height: 20px;
      }
      input[type='radio'] {
        height: 16px;
        width: 16px;
      }
    }
  }
}
.il-customer {
  display: none;
  &.il-show {
    display: block;
  }
}
.il-credit-card {
  display: none;
  &.il-show {
    position: absolute;
    top: -20vh;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    //visibility: hidden;
    transition: all 450ms ease-in;
  }
  @import '../themes/credit-card';
}
.il-form--register {
  background: white;
  .il-register--name {
    flex: 3 1;
  }
  .il-register--repeats {
    flex: 1 1;
  }
}
/* 
.il-plan--intro {
  display: block;
  @media (min-width: 1024px) {
    display: flex;
    justify-content: flex-start;
    form.il-form {
      flex: 2 1;
    }
  }
  
}
.il-form--pay {
  top: 1.5rem;
  position: relative;
  margin: auto;
  p.il-hidden {
    padding: 0.4rem 0;
    text-align: center;
    visibility: hidden;
  }
  .il-pay {
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    height: 100px;
    padding: 0.4rem;
    background: #56535a;
    visibility: hidden;
    transition: all 450ms ease-in;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.8);
    &.il-show {
      visibility: visible;
    }
    .il-pay--data {
      display: flex;

      & > div {
        flex: 1;
      }
    }
    select {
      width: 100%;
      height: 36px;
      display: block;
      margin: 0 auto 1rem auto;
      font-family: inherit;
      font-size: 14px;
      padding: 0.35rem 0.45rem;
      border: 1px solid #64676d;
      border-radius: 3px;
    }
  }
}

 */
